<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理</title>
</head>
<body>

<form method="post">
    {# 开启CSRF  跨站域请求伪造 #}
    {{ form.csrf_token() }}
    {{ form.author.label }}{{ form.author }} <br>
    {{ form.book.label }}{{ form.book }}  <br>
    {{ form.submit }}
    {# 显示消息闪现的内容 #}
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</form>


<hr>
    <ul>
        {% for author in authors %}
            <li>{{ author.name }}<a href="{{ url_for('delete_author',author_id=author.id) }}">删除</a></li>
            <ul>
                {% for book in author.books %}
                    {# 存在就显示                      路由                    参数 #}
                    <li>{{ book.name }}<a href="{{ url_for('delete_book',book_id=book.id) }}">删除</a></li>
                {% else %}
                    {# 不存在情况 #}
                    <li>无</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>